.service {
    border-radius: 1rem;
    font-family: 'Roboto', sans-serif;
}

.service p {
    padding: 0.1rem 1rem;
}

.service img {
    height: 300px;
}

.service-btn {
    color: white;
    background-color: salmon;
    border: 2px solid salmon;
    font-size: 18px;
    padding: 0.4rem 1rem;
    /* border-radius: 1rem; */
}

.service-btn:hover {
    background-color: white;
    border: 2px solid salmon;
    color: salmon;
}