.service {
    height: 600px;
    border-radius: 1rem;
    font-family: 'Roboto', sans-serif;
    padding: 0.4rem;
}

.service p {
    padding: 0.2rem 1rem;
}

.service img {
    border-radius: 2rem;
    height: 300px;
}

.service-btn {
    color: white;
    background-color: rgb(38, 89, 109);
    border: none;
    font-size: 18px;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.service-btn:hover {
    background-color: white;
    border: 2px solid rgb(38, 89, 109);
    color: black;
}