.banner {
    height: 600px;
    width: 100%;
    background-color: rgb(30, 89, 95);
    color: white;
    font-family: 'Montserrat', sans-serif;


}

img {
    height: 600px;
    width: 100%;
}

@media screen and (max-width:576px) {
    .banner {
        height: 300px;
        width: 100%;
    }

    img {
        height: 300px;
        width: 100%;
    }
}