.banner {
    height: 550px;
    width: 100%;
    background-color: rgb(30, 89, 95);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.banner-img img {
    height: 550px;
    width: 100%;
}

@media screen and (max-width:768px) {
    .banner {
        height: 100%;
        width: 100%;
    }

    .banner-img img {
        height: 300px;
        width: 100%;
    }
}